body {margin:0;padding:0;}

header a.logos {
	display: block;
	position: absolute;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	}
nav {
	width:100%;
	display: block;
	position : absolute;
	background-color: #a6430a;
}
	
	
header{
	height: 275px;
	background: url(../images/sato_large.jpg) no-repeat right 0px;
}
header a.logos {
	width: 150px;
	height: 85px;
	top: 28px;
	right: 30px;
	background-image: url(../images/wind_1.png);
}
article {padding:60px 20px 10px 20px;}
.promo_containers { padding: 0px 0px 15px 20px;}
.promo_containers .promo {
	width:33%;
	float:left;
	background-position:0px 3px;
}
.promo_containers .promo .content { padding: 0px 30px 0px 70px;}
nav { top: 275px; }
nav a {margin: 12px 0px 10px 20px;}
@media screen and (max-width:990px){
	footer {padding-left:20px}
}
